<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
	<title>{% if page.title %} {{ page.title }} | {% endif %} Litefy's Blog 偶然 自省 生活</title>
</head>
<body>

	<div class="container">
		<!-- 导航 -->
		<div class="span6">
			<ul class="nav nav-pills">
				<li class="active"><a>Litefy's Blog</a></li>
				<li><a href="{{site.baseurl}}/">>> Home</a></li>
				<li><a>>> Archives</a></li>
			</ul>
		</div>
		
		<div class="row">
			<div class="span8">
				<!-- 标题 -->
				<h1 class="span8 offset2">{{page.title}}</h1>
				<!-- 正文 -->
				<div class="span8 offset1">
					{{ content }}
				</div>	
				<!-- disqus -->
				<div class="span8 offset1" id="disqus_thread"></div>
				<script type="text/javascript">
					/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					var disqus_shortname = 'litefygitblog'; // required: replace example with your forum shortname

					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
				<!-- uyan -->
				<div class="span8 offset1" id="uyan_frame"></div>
				<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1711143" async=""></script>
				<!-- GoStats -->
				<div class="span1 offset2">
				<script type="text/javascript" src="https://ssl.gostats.com/js/counter.js"></script>
				<script type="text/javascript">_gos='monster.gostats.cn';_goa=462580;
				_got=7;_goi=57;_goz=0;_god='visitors';_gol='流量计数器';_GoStatsRun();</script>
				<noscript><a target="_blank" title="流量计数器" 
				href="http://gostats.cn"><img alt="流量计数器" 
				src="https://ssl.gostats.com/bin/count/a_462580/t_7/i_57/z_0/show_visitors/ssl_monster.gostats.cn/counter.png" 
				style="border-width:0" /></a></noscript>
				</div>
			</div>
			<div class="span3">
				<!-- RSS -->
				<div class="span2 offset1 btn-group">
					<button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
						RSS
						<span class="caret">
					</button>
					<ul class="dropdown-menu">
					<li>
						<a href="http://litefy.github.com/blog/atom.xml"">Atom</a>
					</li>
					<li>
						<a href="http://www.google.com/ig/add?feedurl=http://litefy.github.com/blog/atom.xml">Google Reader</a>
					</li>
					</ul>
				</div>
				<!-- 日期 -->
				<div class="span2 offset1">
					{{ page.date | date: "%Y-%m-%d" }}
				</div>
				<!--
				<div class="span2 offset1">
					Categories: {% for category in page.categorys %} <a href="{{site.baseurl}}/category/{{ category }}"> {{ category }} </a>{% endfor %}
				</div>
				-->
				{% if page.tags[0] %}
				<div class="span2 offset1">
					Tags: {% for tag in page.tags %} <a href="{{site.baseurl}}/tag.html#{{ tag }}">{{ tag }}</a> {% endfor %}
				</div>
				{% endif %}
				
			</div>
		</div>
	</div>
	
	<!--
	{{site}}
	</br>
	{{paginator}}
	</br>
	{{page}}
	-->
	
</body>
</html>