<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	 <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<title>{{ page.title }}</title>
</head>
<body>

	<div class="container">
	<div class="row-fluid">
		<div class="span6">
		{{ content }}
		</div>
		<div class="span4 well">
			<div class="span2">Welcome</div>
			<div class="span2"><a href="https://github.com/litefy/blog">github.com/litefy/blog</a></div>
			<!-- Revolver Maps -->
			<div class="span2">
			<script type="text/javascript" src="http://jh.revolvermaps.com/r.js"></script><script type="text/javascript">rm_f1st('0','220','true','false','000000','7uz58u409nl','true','ff0000');</script><noscript><applet codebase="http://rh.revolvermaps.com/j" code="core.RE" width="220" height="220" archive="g.jar"><param name="cabbase" value="g.cab" /><param name="r" value="true" /><param name="n" value="false" /><param name="i" value="7uz58u409nl" /><param name="m" value="0" /><param name="s" value="220" /><param name="c" value="ff0000" /><param name="v" value="true" /><param name="b" value="000000" /><param name="rfc" value="true" /></applet></noscript>
			</div>
			<!--
			<script type="text/javascript" src="http://jh.revolvermaps.com/m.js"></script><script type="text/javascript">rmm_ki101('0',130,'7zim1whwki2','ff0000');</script>
			-->
		</div>
	</div>
	</div>
	
</body>
</html>